.container {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.button-row {
  display: flex;
}

.display {
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: solid;
  margin: 2px;
  flex: 0 0 580px;
  background-color: green;
}

.button {
  display: flex;
  flex: 0 0 140px;
  height: 140px;
  align-items: center;
  justify-content: center;
  background-color: gray;
  font-size: 30px;
  border: solid;
  margin: 2px;
}